/* .inactive.rhythmNote {
    background-color: black;
} */

.inactive.chord {
    background-color: orange;
}

.active.chord {
    background-color: red !important
}

.inactive{
    background-color: wheat;
}

.active {
    background-color:white !important
}

.red{
    background-color: red;
}